{% extends 'MyAppUserBundle:wissal:baseWissal.html.twig' %}

{% block content %}
<section id="headline">
                <div class="container  text-center">
                    <h3>Ajouter cin</h3>
                </div>
            </section>

            <section class="section">
                <div class="container ">
                    <div class="col-lg-12 __web-inspector-hide-shortcut__">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2><strong>Veuillez remplir ce formulaire</strong></h2>
                            </header>
                            <div class="panel-body">
                                <form id="formID" class="form-horizontal" data-collabel="3" data-alignlabel="right" data-parsley-validate="" method="POST" action="#" >
                                    {{ form_rest(form) }}    
                                </form>
                            </div>
                        </section>







                    </div>		
                </div>
            </section>
{% endblock %}