{% extends "MyAppUserBundle:wissal:base_map.html.twig" %}
{% block container %}
    <input id="lat" value={{Latitudes}}>
    <input id="lng" value={{Longitudes}}>
    <div id="map-canvas" style="width:700px;height:500px; position: relative; left: 400px;">
    </div>
{% endblock%}